In [164]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alsha mohammed\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alsha mohammed\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [165]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Now we will download the webDriver for the Web Browser. Steps for download are; 1) Check the version of your browser 2) go to the link https://chromedriver.chromium.org/downloads 3) Download the webdriver for your version of your browser

In [166]:
driver=webdriver.Chrome()

In [167]:
#Opening the shine page on automated chrome browser
driver.get('https://www.shine.com')

In [169]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,'form-control')
designation.send_keys('Data Analyst')

In [170]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [171]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [173]:
job_title=[]
job_location=[]
experience_required=[]
company_name=[]

In [174]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [175]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

10 10 10 10

In [176]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Experience':experience_required,'Company':company_name})
df

,Title,Location,Experience,Company
0,Data Analyst,Bangalore\n+9,12 to 22 Yrs,sahast sales corporation
1,Clinical Data Analyst,Bangalore\n+6,0 to 1 Yr,techno endura
2,Data Analyst,Bangalore\n+9,12 to 22 Yrs,sahast sales corporation
3,Hiring For Data Analyst,Bangalore\n+12,0 to 4 Yrs,radhika enterprises
4,Clinical Data Analyst,Bangalore\n+6,0 to 1 Yr,techno endura
5,Lead Data Analyst,Bangalore,4 to 9 Yrs,ara resources private limited
6,Data Analyst,Bangalore\n+3,0 to 1 Yr,diraa hr services hiring for mncs
7,Technical Data Architect,Bangalore,10 to 20 Yrs,uprighthc solutions private limited
8,Oracle Utilities (customer care & Billing) CC&...,Bangalore\n+2,5 to 9 Yrs,ltimindtree limited
9,Clinical Data Associate,Bangalore\n+6,0 to 1 Yr,techno endura

QUESTION NUMBER 2

In [177]:
driver=webdriver.Chrome()

In [178]:
#Opening the shine page on automated chrome browser
driver.get('https://www.naukri.com')

In [179]:
#entering designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [180]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [181]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [182]:
job_title=[]
job_location=[]
experience_required=[]
company_name=[]

In [183]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [186]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

10 10 10 10

In [187]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Experience':experience_required,'Company':company_name})
df

,Title,Location,Experience,Company
0,"Senior Data Scientist, Reporting","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",6-7 Yrs,Coursera
1,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",4-6 Yrs,Coursera
2,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",4-6 Yrs,PwC Service Delivery Center
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",3-6 Yrs,Ford
4,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-6 Yrs,Ford
5,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",5-6 Yrs,Ford
6,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-4 Yrs,Ford
7,Data Scientist-Senior Associate-P&T Labs,"Hyderabad, Bengaluru",4-6 Yrs,PwC Service Delivery Center
8,Data Scientist III,Bengaluru,1-6 Yrs,Walmart
9,Sr. Data Scientist,Bengaluru,0-3 Yrs,Visa Inc

# QUESTION NUMBER 3

In [63]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\alsha mohammed\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\alsha mohammed\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alsha mohammed\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [64]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [105]:
driver=webdriver.Chrome()

In [106]:
driver.get('https://www.flipkart.com')

In [107]:
brands=driver.find_element(By.CLASS_NAME,'Pke_EE')
brands.send_keys('sunglasses')

In [108]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [109]:
Product_Brand=[]
Product_Description=[]
Product_Price=[]
Product_Offer=[]

In [110]:
start=0
end=3
for pages in range(start,end):
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in Brand_tags[0:100]:
    Brand=i.text
    Product_Brand.append(Brand)
    
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

start=0
end=3
for pages in range(start,end):
    Description_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
for i in Description_tags[0:100]:
    Description=i.text
    Product_Description.append(Description)
    
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

start=0
end=3
for pages in range(start,end):
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:100]:
    Price=i.text
    Product_Price.append(Price)
    
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

start=0
end=3
for pages in range(start,end):
    Offer_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Offer_tags[0:100]:
    Offer=i.text
    Product_Offer.append(Offer)
    
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [111]:
print(len(Product_Brand),len(Product_Description),len(Product_Price),len(Product_Offer))

40 40 40 40

In [112]:
import pandas as pd
df=pd.DataFrame({'BRAND':Product_Brand,'DESCRIPTION':Product_Description,'PRICE':Product_Price,'OFFER':Product_Offer})
df

,BRAND,DESCRIPTION,PRICE,OFFER
0,VINCENT CHASE,"Polarized, UV Protection Cat-eye Sunglasses (48)",₹594,73% off
1,hipe,by Lenskart UV Protection Cat-eye Sunglasses (59),₹499,80% off
2,SRPM,UV Protection Aviator Sunglasses (58),"₹3,789",44% off
3,Fastrack,"by Lenskart Polarized, UV Protection Wayfarer ...",₹925,76% off
4,Elligator,UV Protection Over-sized Sunglasses (60),₹482,75% off
5,ROADWAY,UV Protection Aviator Sunglasses (Free Size),₹779,57% off
6,ROCKFORD,UV Protection Rectangular Sunglasses (49),"₹1,462",75% off
7,Eyenaks,"by Lenskart Polarized, UV Protection Aviator S...",₹769,71% off
8,Fastrack,UV Protection Round Sunglasses (53),₹645,78% off
9,ROADWAY,"UV Protection Retro Square, Wayfarer, Sports S...",₹439,58% off
10,VINCENT CHASE,UV Protection Round Sunglasses (53),"₹1,139",75% off
11,VINCENT CHASE,"Polarized, UV Protection Sports Sunglasses (55)",₹499,58% off
12,Elligator,UV Protection Wayfarer Sunglasses (32),₹148,75% off
13,Mention,"Gradient, UV Protection Retro Square Sunglasse...",₹645,89% off
14,Elligator,UV Protection Retro Square Sunglasses (54),₹399,49% off
15,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹315,77% off
16,john jacobs,"Polarized, UV Protection Round Sunglasses (52)",₹974,52% off
17,hipe,"Polarized, UV Protection Sports, Wrap-around S...","₹2,669",50% off
18,Flashsales,"by Lenskart Polarized, UV Protection Round Sun...",₹319,46% off
19,PC STAR,UV Protection Cat-eye Sunglasses (55),"₹1,219",63% off
20,john jacobs,"Polarized, UV Protection Sports, Wrap-around S...",₹487,72% off
21,VINCENT CHASE,"Polarized, UV Protection Aviator Sunglasses (58)",₹479,72% off
22,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...","₹10,789",78% off
23,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹779,90% off
24,Elligator,UV Protection Butterfly Sunglasses (60),"₹4,389",40% off
25,PIRASO,UV Protection Round Sunglasses (50),"₹1,169",75% off
26,Eyewearlabs,"UV Protection Round, Over-sized Sunglasses (Fr...",₹487,66% off
27,ROYAL SON,"Polarized, UV Protection Rectangular Sunglasse...",₹974,75% off
28,Top Trick,UV Protection Wayfarer Sunglasses (Free Size),₹399,51% off
29,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹499,71% off
30,john jacobs,Polarized Clubmaster Sunglasses (58),₹854,66% off
31,Lenskart STUDIO,UV Protection Retro Square Sunglasses (Free Size),₹664,67% off
32,Fastrack,UV Protection Butterfly Sunglasses (60),₹499,50% off
33,DEYVUE,UV Protection Wayfarer Sunglasses (56),"₹7,189",73% off
34,DEIXELS,"by Lenskart Polarized, UV Protection Aviator S...","₹7,279",81% off
35,Rich Club,Polarized Aviator Sunglasses (59),"₹2,199",49% off
36,VINCENT CHASE,"UV Protection, Gradient Wayfarer, Retro Square...","₹1,104",55% off
37,ROYAL SON,Polarized Butterfly Sunglasses (64),₹594,41% off
38,Fastrack,"UV Protection, Riding Glasses, Gradient Wrap-a...","₹1,149",42% off
39,Fastrack,"UV Protection, Gradient Aviator Sunglasses (56)",₹381,83% off